<!DOCTYPE html>
<html lang="ru"><head><meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="version" content="1.0.0-alpha20" />
    <base href="/">
    <meta name="description" content="&#x41F;&#x440;&#x44F;&#x43C;&#x43E;&#x435; &#x43E;&#x431;&#x440;&#x430;&#x449;&#x435;&#x43D;&#x438;&#x435; &#x412;&#x44B;&#x441;&#x448;&#x435;&#x433;&#x43E; &#x41A;&#x43E;&#x441;&#x43C;&#x438;&#x447;&#x435;&#x441;&#x43A;&#x43E;&#x433;&#x43E; &#x420;&#x430;&#x437;&#x443;&#x43C;&#x430; (&#x413;&#x43E;&#x441;&#x43F;&#x43E;&#x434;&#x430; &#x411;&#x43E;&#x433;&#x430;, &#x41E;&#x442;&#x446;&#x430; &#x410;&#x431;&#x441;&#x43E;&#x43B;&#x44E;&#x442;&#x430;) &#x43A; &#x447;&#x435;&#x43B;&#x43E;&#x432;&#x435;&#x447;&#x435;&#x441;&#x442;&#x432;&#x443;. &#x41A;&#x43D;&#x438;&#x433;&#x430;, &#x437;&#x430;&#x43F;&#x438;&#x441;&#x430;&#x43D;&#x43D;&#x430;&#x44F; &#x41C;&#x430;&#x441;&#x43B;&#x43E;&#x432;&#x44B;&#x43C; &#x41B;&#x435;&#x43E;&#x43D;&#x438;&#x434;&#x43E;&#x43C; &#x418;&#x432;&#x430;&#x43D;&#x43E;&#x432;&#x438;&#x447;&#x435;&#x43C;." />
    <meta name="author" content="Маслов Леонид Иванович">
    
    <link rel="shortcut icon" href="/_content/MSU.View.Otk/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hint.css/3.0.0/hint.min.css" integrity="sha512-Wh4+s2lPgPpBCBz8fdVpfOcEw3WJmNRxLefQZ9tlF6gH6iwf+LMZdJjB/qpSLWfk2WOgMqJmcmZDqDgihK5qCA==" crossorigin="anonymous" referrerpolicy="no-referrer">

    
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="/_content/MSU.View.Otk/css/shared.css" asp-append-version="true" />

    <title>Последний шанс для всех – этот Год!</title></head>


<body hx-boost="true" hx-target="#main-cont" hx-push-url="true" hx-headers="{ &quot;Accept&quot;: &quot;text/html&quot; }"><div id="page" class="page"><section id="top"><header><div class="row container-fluid"><div class="sm-container-header"><div class="row header"><div class="otk-sitename">ОТКРОВЕНИЯ</div>
                            <div class="site-sub-name">ЛЮДЯМ НОВОГО ВЕКА</div>
                            <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4"><div class="col-md-6 col-sm-6 hidden-xs sm-unread-zindex"><div id="unreadBlock"></div></div>
                                
                                <div class="col-md-6 col-sm-6 hidden-xs pull-right baner-quote"><div id="quote-block" hx-get="/ext/quote" hx-trigger="load[isQuoteRequest()], msu-ext-quote" hx-target="this" hx-push-url="false"></div></div></div> 
                            <div class="book">Эта Книга продиктована Высшим Космическим Разумом избранному Им Человеку в России</div></div></div> 

                    <div class="row"><div id="menublock"><nav role="navigation" class="navbar navbar-inverse navbar-static-top top-menu"><div class="navbar-header small-menu"><div class="hidden-lg hidden-md hidden-sm col-xs-12"><div id="unreadBlockMobile"></div>
                                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false"><span class="sr-only">Разделы сайта</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span></button></div></div>
                                
                                <div><div id="bs-navbar" class="collapse navbar-collapse" style><ul class="nav nav-pills nav-justified top-menu-ul"><li class=""><a href="/">ГЛАВНАЯ</a></li><li class=""><a href="predislovie.html">ПРЕДИСЛОВИЕ ВСЕВЫШНЕГО</a></li><li class=""><a href="otkroveniya.html">ОТКРОВЕНИЯ</a></li><li class=""><a href="tolkovaniya.html">ТОЛКОВАНИЯ</a></li><li class=""><a href="year.html">НОВЫЕ ТЕКСТЫ</a></li><li class=""><a href="poems/year.html">КАТРЕНЫ</a></li><li class=""><a href="intforum.html">НОВОСТИ</a></li><li class=""><a href="novosti.html">ОБЪЯВЛЕНИЯ</a></li></ul></div></div></nav></div></div></div></header></section>
        
        <section id="general" class="page_section"><div class="container-fluid"><div class="row"><main><div id="main-cont" hx-get="/" hx-trigger="msu-on-get-dns" class="col-lg-9 col-md-9 col-sm-8 col-xs-12 page-main large-monitor-center"><h1 class="page-title"><span><span class="date">29.04.2025</span>&nbsp;Катрен &#x2116;30 (3270) “Последний шанс для всех – этот Год!”</span></h1><div class="sm-poem-blok"><p class="poem">Ложь и неверие расцвели в этом Мире!<br />У руля Планеты скопилась, одна нечисть!<br />Не дождаться людям никакого перемирия!<br />Правит Миром, сегодня, лишь ненависть!</p>
<p class="poem">Теперь людям уже, не договориться!<br />Власть защищает свои интересы!<br />Россия, должна, сама, определиться!<br />Россия, имеет на войне, перевес!</p>
<p class="poem">Россию, враги разрывают на части!<br />Каждый старается себе оторвать!<br />Столпились агрессоры, разной масти!<br />Некому Россию, уже, защищать!</p>
<p class="poem">Все приготовились увидеть остатки!<br />В день Победы, ожидается поражение!<br />Но, Россия, никогда, не играет в прятки!<br />До Победы, с этим Миром, будет сражение!</p>
<p class="poem">Врагам кажется, что Народ &ndash; быдло!<br />Но, Народ уже встал за Родину!<br />За деньги воевать, конечно, стыдно!<br />С Красным флагом, не пойдёшь ко дну!</p>
<p class="poem">Народа, который победил, уже нет!<br />Он отдал жизнь за Победу!<br />У Новых людей, такого Сознания, нет!<br />Отсутствие Разума привело беду!</p>
<p class="poem">Теперь, решение будет, за Создателем!<br />Люди, сами, не могут победить Тьму!<br />Россия &ndash; это Правом управления, обладатель!<br />Она, ещё, не потеряла в себя Веру!</p>
<p class="poem">Человечество, забыло про Новое время!<br />Что Природа начинает очищение!<br />Что на такой войне &ndash; жизнь для людей бремя!<br />Что, Создатель, уже дал Руси указание!</p>
<p class="poem">Главное, России надо проявить Волю!<br />Ваша, Воля &ndash; это Бога решение!<br />Вам, надо изменить людей долю!<br />Надо в Боги, перенаправить, движение!</p>
<p class="poem">Война эта, не будет, скоро остановлена!<br />Европа хочет победить Россию!<br />Для Америки прибыль на войне, явлена!<br />Но, это для всех очень сложная сессия!</p>
<p class="poem">Европа, тоже, смотрит на прибыль!<br />Ей нужна, Российская территория!<br />Россию нельзя победить &ndash; это Небыль!<br />У России от Бога Небесная акватория!</p>
<p class="poem">России, как всегда, не везёт с Лидером!<br />Царская Империя, тому, пример!<br />Союз, тоже, не закончился миром!<br />Наконец, сегодня, Создатель &ndash; ориентир!</p>
<p class="poem">Торг за Русь, пошёл окончательный!<br />Правил игры у капиталистов нет!<br />Европейский союз, примечательно,<br />На торги не имеет, именной, билет!</p>
<p class="poem">Теперь, уже больше нет переговоров!<br />Украина уходит, насовсем, в Европу!<br />Украина согласилась быть, среди воров!<br />Никто, из Народа, не посмотрел на Икону!</p>
<p class="poem">Напрасно, ибо Создатель, создаёт всё Новоё!<br />Включая, Новых людей и одну страну!<br />Бог уже сказал, что это, теперь, Моё!<br />Он хочет посчитаться с теми, кто начал войну!</p>
<p class="poem">Бог сказал, что &laquo;страны Мира не интересны Мне&raquo;!<br />В них нет, никакого в Даль, продолжения!<br />Сегодня, Святая Русь &ndash; это ориентир везде!<br />В Шестую Эпоху, только, через Неё движение!</p>
<p class="poem">Для Завтра, готова только, одна, Россия!<br />Все, остальные страны, готовы на дно!<br />Для управления выбран Пророк-Мессия!<br />Вместо всех стран Мира, будет поле одно!</p>
<p class="poem">Последний шанс для всех людей, этот год!<br />Создатель будет ждать до последнего!<br />В конце года Россия подведёт Итог!<br />От людей, о спасении их, будут сведения!</p>
<p class="noind">Да будет Свет Истины!<br />Отец Абсолют или Высший Космический Разум!</p>

                <p class="noind">29.04.2025</p></div><script>            if(typeof typeContent === 'undefined') {
            var typeContent = 'Poem';
            }

            </script>

                            <div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"><div class="modal-dialog modal-sm" role="document"><div class="modal-content" style="background-color: #303030; border: 1px solid #444; border-radius: 0px;"><div class="modal-header" style="padding: 5px 5px 5px 15px;"><button type="button" class="close" style="opacity: .7;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:white;">&times;</span></button>
                                            <h4 class="modal-title"></h4></div>
                                        <div class="modal-body" style="color:white;"></div>
                                        <div class="modal-footer"><button type="button" class="btn btn-default" id="btn-modal-cancel" data-dismiss="modal">Отмена</button>
                                            <button type="button" class="btn btn-primary" id="btn-modal-allow">Разрешить</button></div></div></div></div></div></main></div></div></section>
        
        <footer class="blok-footer"><div class="container-fluid"><div class="row"><div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 col-lg-offset-260 col-md-offset-3 col-sm-offset-4 large-monitor-center"><p class="copyright">Copyright © <a href="mailto:maslovli@yandex.ru">Leonid Maslov</a> 2004-<span id="footerYear">2025</span><br>При копировании материалов с Сайта <a href="https://otkroveniya.eu" target="_blank">ссылка на Первоисточник</a> обязательна.</p>
                <script type="text/javascript">
                    document.addEventListener('DOMContentLoaded', function() { document.getElementById('footerYear').innerHTML = new Date().getFullYear(); });
                </script>
                <div class="blok-metrik"></div></div></div></div></footer></div>

    <div id="api-ext" hx-get="/ext/data" hx-trigger="load[isExtRequest()], msu-ext-data" hx-ext="json-response" hx-swap="none" hx-push-url="false"></div>

    <script>
        window.onerror = function(message, url, line, col, error) {
            alert(message+"\n В "+line+":"+col+" на "+url);
        };
    </script>

    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js"></script>
    
    

    
    <script type="text/javascript" src="/_content/MSU.View.Otk/js/shared.js" asp-append-version="true"></script>
    <script type="text/javascript" src="/_content/MSU.View.Otk/js/app.js" asp-append-version="true"></script>

    <script>
        var siteID = 'OTK';
    </script></body></html>